head
  if !mobile
    link(type='text/css' rel='stylesheet' href='/public/css/index-desktop.css')
  else
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    link(type='text/css' rel='stylesheet' href='/public/css/index-mobile.css')
  script(src='/public/scripts/jquery-3.3.1.min.js')
  script(src='/public/scripts/socket.io.slim.js')
  script(src="/public/scripts/index.js")
  script(src="/public/scripts/map.js")
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + mapApiKey + '&callback=initMap')
  
  
.info
  .nav
    .brandContainer
      h1.brand Happin
    .requestButtons
      .newRequestBtn Make it Happin
  .mapAndRequests
    .mapContainer
      img#mapLoading(src="/public/assets/Procfile.svg")
      #map
    .requestFormContainer
      .requestForm
        h1.newRequestLabel New Happin
        .requestFormInputs
          h2#requestTitleLabel Title
          input#newRequestTitle.requestInput(placeholder="Help me clean 4th Street")
          h2#requestBodyLabel Description
          textarea#newRequestBody.requestInput(placeholder="Description of Request")
          h2#requestPayLabel Payout
          input#newRequestPay.requestInput(placeholder="Leave blank for no Payout")
        #newRequestSubmit Submit    
    
.content
  h1.nearRequestslabel What's Happining
    .requestsPlaceholder
  .requestsContainer
    .request-prototype
      .requestBasicInfo
        #requestTitle Help me learn biology please! Can I have this?
        .requestBasicInfoSep
          #requestOwner Bobby
          #requestLoc 1547 Mission St
      .viewRequestBtn
        #requestPayout $10
        #requestSpots ( 0/1 )
    
