head
  link(type='text/css' rel='stylesheet' href='/public/css/index.css')
  script(src='/public/scripts/map.js')
  script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=' + mapApiKey + '&callback=initMap')
#map
